<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game History</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-5">Game History</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Team 1</th>
                    <th scope="col">Score</th>
                    <th scope="col">Team 2</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game.team1_player1 }} &amp; {{ game.team1_player2 }}</td>
                    <td>{{ game.team1_score }} - {{ game.team2_score }}</td>
                    <td>{{ game.team2_player1 }} &amp; {{ game.team2_player2 }}</td>
                    <td>
                        <!-- <a href="{{ url_for('edit_game', game_id=game.id) }}" class="btn btn-warning btn-sm">Edit</a>-->

                        <form id="delete_game_form_{{ game.id }}" action="{{ url_for('delete_game', game_id=game.id) }}" method="post" style="display: none;">
                            <input type="password" name="password" id="delete_game_password_{{ game.id }}" value="">
                        </form>
                        <button onclick="promptPasswordAndSubmit('{{ game.id }}')" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-secondary mt-3" href="{{ url_for('home') }}">Back to Home</a>
    </div>

    <!-- Bootstrap Javascripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function promptPasswordAndSubmit(gameId) {
            var password = prompt("Please enter the password to delete the game:");
            if (password !== null && password !== "") {
                document.getElementById('delete_game_password_' + gameId).value = password;
                document.getElementById('delete_game_form_' + gameId).submit();
            }
        }
    </script>
</body>
</html>