<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Rankings</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center my-5">Individual Rankings</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Wins</th>
                    <th scope="col">Games</th>
                    <th scope="col">Win %</th>
                    <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr>
                    <td>{{ player.name }}</td>
                    <td>{{ player.wins }}</td>
                    <td>{{ player.games }}</td>
                    <td>{{ player.win_percentage }}</td>
                    <td>{{ '%.2f' | format(player.elo) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-secondary mt-3" href="{{ url_for('home') }}">Back to Home</a>
    </div>

    <!-- Bootstrap Javascripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>